@font-face {
  font-family: 'SF Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Regular'), url('SFMonoRegular.woff') format('woff');
}

* {
  font-family: 'SF Mono Regular', 'Roboto Mono', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  padding-top: 3rem;
  color: #5a5a5a;
  background-color: #f0f0f2;
}

.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}

.carousel-item {
  height: 32rem;
  background-color: #777;
}

.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.jumbotron {
  margin-bottom: 4rem;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.marketing h2 {
  font-weight: 400;
}

.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.picture {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.featurette-divider {
  margin: 3rem 0;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.05rem;
}

.experience .card-text,
.experience .card-text p {
  color: #000 !important;
  font-size: 0.75rem !important;
}
.dark .experience .text-muted {
  color: rgba(255, 255, 255, 0.8) !important;
}
.dark .experience .card-text,
.dark .experience .card-text p {
  color: #f8f8f2 !important;
}
.card .card-text ul {
  margin-top: -1rem;
  margin-bottom: 0rem;
}
.experience .m-2 .border,
.experience .col.border-right {
  border-color: #2962ff !important;
}
.experience .m-2 .border.exp-fill {
  background-color: #2962ff !important;
}

.footer {
  bottom: 0;
  padding: 2.5rem 0;
  color: #999;
  width: 100%;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}

.footer p:last-child {
  margin-bottom: 0;
}

.footer p a br {
  display: none;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

.dark-mode {
  background-color: rgb(15, 15, 15);
  color: white;
}

.white-mode {
  background-color: red;
  color: white;
}

.dark-button-color {
  color: #f8f9fa;
}

@media (min-width: 40em) {
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
